* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-content: center;
    background:
        repeating-radial-gradient(75% 75% at 238% 218%, #00FFFF12 30%, #073AFF14 39%),
        radial-gradient(99% 99% at 109% 2%, #00C9FFFF 0%, #073AFF00 100%),
        radial-gradient(99% 99% at 21% 78%, #7B00FFFF 0%, #073AFF00 100%),
        radial-gradient(160% 154% at 711px -303px, #2000FFFF 0%, #073AFFFF 100%);
    cursor: url(./assets/icons/cursor.png), auto;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 64px;
    min-height: 100dvh;
}

.cards-container {
    align-content: center;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 120px);
    height: 600px;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
    animation: bounceInContainer .6s ease-out;
}

@keyframes bounceInContainer {
    0% {
        transform: scale(0.3) rotate(-20deg);
        opacity: 0;
    }
    50% {
        transform: scale(1.01) rotate(10deg);
        opacity: 1;
    }
    70% {
        transform: scale(0.9) rotate(-5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

.card {
    background-color: rgb(0, 224, 112);
    border-radius: 6px;
    border: 4px solid rgb(0, 0, 0);
    height: 120px;
    position: relative;
    transition: box-shadow .1s, transform .1s;
    user-select: none;
    animation: bounceInCard .6s ease-out both;

    &:hover {
        box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2);
        cursor: url(./assets/icons/pointer.png), pointer;
    }
}

@keyframes bounceInCard {
    0% {
        transform: scale(0) translateY(200px) rotate(-30deg);
        opacity: 0;
    }
    50% {
        transform: scale(1.2) translateY(-20px) rotate(10deg);
        opacity: 1;
    }
    70% {
        transform: scale(0.95) translateY(10px) rotate(-5deg);
    }
    100% {
        transform: scale(1) translateY(0) rotate(0);
    }
}

.front-card,
.back-card {
    backface-visibility: hidden;
    font-weight: 600;
    left: 40px;
    position: absolute;
    top: 8px;
    transition: transform .2s;
}

.back-card {
    left: 16px;
    transform: perspective(256px) rotateY(180deg);
}

.flipped {
    background-color: rgb(255, 255, 255);
}
